
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.factLayout{
       /* width: 100%; */
       margin: 10px;
       /* padding: 50px; */
       height: 100%;
       /* border: 1px solid gray; */
       /* border-radius: 4px; */
       /* display: flex; */
       justify-content: center;
       width: 80%;
       padding-top: 60px;
}

.blocks {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.block {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    width: 45%;
    height: 450px;
    font-size: 20px;
    /* box-shadow: 2px 2px 12px 8px rgb(182, 177, 182); */
    
}

.block-title {
    display: flex;
    flex: 2 1;
    /* align-items: center; */
    justify-content: start;
    padding: 5px;
    text-align: center;
    background-color: #8d2b06;
   
}

.block-description {
    flex: 20;
    justify-content: start;
    padding: 5px;
    background-color: #c2a58d;
}
.block-footer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 5px;
    background-color: #c2a58d;
}

.side-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border:1px solid gray;
}

.side-block:hover {
    font-size: large;
    background-color: bisque;
}

.more {
    width: 100px;
    height: 50px;
    background: #377538;
    border-radius: 28px;
    border-style: none;
    color: #e4e4e4;
    font-size: 16px;
}

.parent-block{
    width: 100%;
}

.block-1{
    width: 20%;
    float: left;
    /* box-shadow: -5px 0px 14px #c8c8c8; */
    height: 400px;
    margin-top: 31px;
    border-radius: 0;
    cursor: pointer;
    -webkit-filter: blur(4px);
    filter: blur(3px);
}
.block-2{
    width: 59%;
    float: left; 
    border-radius: 0;
    box-shadow: 2px 2px 12px 8px rgb(182, 177, 182);

}
.block-3{
    width: 20%;
    float: left;
    /* box-shadow: 6px 0px 14px #c8c8c8; */
    height: 400px;
    margin-top: 31px;
    border-radius: 0;
    cursor: pointer;
    -webkit-filter: blur(4px);
    filter: blur(3px);
}


.Block_1_0_transition {
    width: 0%;
    text-indent: -9999px;
    transition: width 400ms;
    /* transform: translateX(-500vw); */
}

.Block_2_1_transition {
    width: 20%;
    height: 400px;
    filter: blur(3px);
    margin-top: 31px;
    box-shadow: none;
    transition: width 300ms, height 500ms, margin-top 500ms;
}

.Block_3_2_transition {
    width: 59%;
    height: 450px;
    filter: none;
    margin-top: 0px;
    box-shadow: 2px 2px 12px 8px rgb(182, 177, 182);
    transition: width 300ms, height 500ms, filter 100ms, margin-top 500ms;
    
}

.Block_1_2_transition {
    width: 59%;
    height: 450px;
    filter: none;
    margin-top: 0px;
    box-shadow: 2px 2px 12px 8px rgb(182, 177, 182);
    margin-left:180px;
    transition: width 300ms, height 500ms, filter 100ms, margin-top 500ms, margin-left 500ms;
}

.Block_2_3_transition {
    width: 20%;
    height: 400px;
    filter: blur(3px);
    margin-top: 31px;
    box-shadow: none;
    transition: width 300ms, height 500ms, margin-top 500ms, filter 100ms;
}

.Block_3_0_transition {
    width: 0%;
    text-indent: -9999px;
    transition: width 400ms;
    /* transform: translateX(-500vw); */
}

.footerBlock-transition {
    display: none;
    transition: display 1s;
}

.block-unvisible {
    visibility: hidden;;
}

.popup {
    position: fixed;
    left: 0;
    top: 2000px;
    width: 100%;
    height: 100%;
    padding:15px;
    border: 4px solid gray;
    border-radius: 15px;
    z-index: 1;
    background-color: #8d2b06;
    visibility: hidden;
}

.close-popup {
    font-size: 34px;
    position: fixed;
    top:5px;
    color: gray;
    right: 20px;
}

.visible-popup {
  visibility: visible;
  top: 0;
  transition: top 600ms ease-in;
}