
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.factLayout{
       /* width: 100%; */
       margin: 10px;
       /* padding: 50px; */
       height: 100%;
       /* border: 1px solid gray; */
       /* border-radius: 4px; */
       /* display: flex; */
       justify-content: center;
       width: 80%;
       padding-top: 60px;
}

.blocks {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.block {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    width: 45%;
    height: 450px;
    font-size: 20px;
    box-shadow: 2px 2px 12px 8px rgb(182, 177, 182);
    
}

.block-title {
    display: flex;
    flex: 2 1;
    /* align-items: center; */
    /* justify-content: start; */
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    background-color: lightgray;
   
}

.blocks-description {
    flex: 20;
    justify-content: start;
    padding: 5px;
    /* background-color: #f3f6f9; */
    /* border-radius: 12px; */
}
.block-footer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 5px;
}

.side-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border:1px solid gray;
}

.side-block:hover {
    font-size: large;
    background-color: bisque;
}

.more {
    width: 100px;
    height: 50px;
    background: #377538;
    border-radius: 28px;
    border-style: none;
    color: #e4e4e4;
    font-size: 16px;
}

.parent-block{
    width: 100%;
}

.block-1{
    width: 20%;
    float: left;
    box-shadow: -5px 0px 14px #c8c8c8;
    height: 400px;
    margin-top: 31px;
    border-radius: 0;
    cursor: pointer;
}
.block-2{
    width: 59%;
    float: left; 
    border-radius: 0;

}
.block-3{
    width: 20%;
    float: left;
    box-shadow: 6px 0px 14px #c8c8c8;
    height: 400px;
    margin-top: 31px;
    border-radius: 0;
    cursor: pointer;

}