html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #49837c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.row {
  display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.block-1, .block-2 {

  margin-bottom: 20px;
  width: 45%;
  height: 340px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  position: relative;
 
}

.block-list {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  flex-flow: column;
  overflow-y: auto;
  height: 90%;
}
.block-list div {
  display: inline;
}

.footer {
  clear: left;
  position: relative;
  width: 100%;
  border: 1px solid #D3D3D3;
  height: 80px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-inside {
  width: 60%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.footer-inside input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #b1b0b0;
}

.footer-inside button {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #b1b0b0;
}


.block-label {
    padding: 0 10px;
    position: relative;
    background: white;
    font-size: 24px;
    top: -15px;
}

.pending-label {
  left: 23px;
}

.pending-counter-label {
  left: 361px;
}

.complete-label {
  left: calc(90% - 80px);
}

.item-list {
  cursor: pointer;
  padding: 10px 0;
}

.item-list:hover{
  background-color:#529ba3;
}

.fadeOut{
  opacity:0;
  transition: opacity 500ms ease-out;

}

.noOpacity {
  opacity: 0.01;
  padding-left: 300px;
  color: bisque;
}

.fadeIn{
  opacity: 1;
  padding-left: 0px;
  color: black;
  transition: color 200ms ease-in-out, padding-left 200ms ease-in, opacity 100ms ease-in;
}

.noData {
  margin: 0 auto;
  position: relative;
  top:40%;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding-left: 10%;
}

ul.nav li {
  float: left;
}

ul.nav > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.nav > li a:hover {
  background-color: #111;
}

a.active {
  background-color: #4CAF50;
}

ul.nav li {
  border-right: 1px solid #bbb;
}

ul.nav > li:last-child {
  border-right: none;
}
